<nav class="navbar navbar-light navbar-expand-lg navigation-clean" style="margin-bottom: 20px;">
  <div class="container"><a class="navbar-brand" href="#"><img class="img-fluid"
        src="../../assets/img/logo.png"></a><button data-bs-toggle="collapse" class="navbar-toggler"
      data-bs-target="#navcol-1"><span class="visually-hidden"></span><span class="navbar-toggler-icon"></span></button>

    <!--    <div class="collapse navbar-collapse" id="navcol-1">-->
    <!--      <ul class="navbar-nav ms-auto">-->
    <!--        <li class="nav-item"><a class="nav-link active" href="#" style="color: var(&#45;&#45;bs-body-color);font-size: 24px;font-family: Rosario, sans-serif;&#45;&#45;bs-body-font-weight: bold;color: rgb(255,79,90);">Se connecter</a></li>-->
    <!--        <li class="nav-item"><a class="nav-link" href="#" style="color: var(&#45;&#45;bs-body-color);font-size: 24px;font-family: Rosario, sans-serif;&#45;&#45;bs-body-font-weight: bold;color: rgb(255,79,90);">S'inscrire</a></li>-->
    <!--      </ul>-->
    <!--    </div>-->
  </div>
</nav>

<div class="container">
  <div class="d-flex flex-column m-auto firstContainer" style="/*display: grid;*//*text-align: center;*/">
    <p class="fw-bold text-center align-items-center m-auto"
      style="text-align: center;font-family: Rosario, sans-serif;font-size: 38px;">Organisation de votre journée avec
      Task Manager</p>
    <button class="btn btn-primary fw-bold text-start d-lg-flex align-items-center align-content-center m-auto"
      type="button"
      style="background: rgb(255,79,90);text-align: center;border-radius: 8px;font-family: Rosario, sans-serif;font-size: 20px;border-style: none;"
      (click)="register()">Démarrer</button>
    <img class="img-thumbnail img-fluid" src="../../assets/img/4005526%201.svg"
      style="border-style: none;border-radius: 0;height: 600px;" loading="auto">
  </div>
</div>
<div class="container">
  <p style="font-family: Rosario, sans-serif;text-align: center;font-weight: bold;font-size: 28px;margin-top: 20px;">Ne
    passez pas votre journée sans rien faire</p>
  <div class="row">
    <div class="col-7 align-self-center m-auto"><img class="img-fluid" src="../../assets/img/image%201.svg"></div>
    <div
      class="col offset-3 d-flex flex-column justify-content-center align-items-center align-content-center align-self-center m-auto">
      <p class="lead d-flex d-lg-flex justify-content-center align-items-center align-items-lg-center"
        style="text-align: justify;font-family: Rosario, sans-serif;font-weight: bold;font-size: 25px;">Atteignez vos
        objectifs et gagner du temps<br></p><button class="btn btn-primary d-lg-flex" type="button"
        style="background: rgb(255,79,90);font-family: Rosario, sans-serif;font-size: 25px;border-style: none;"
        (click)="register()">Démarrer</button>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 50px;width: 70%;">
  <hr style="background: rgb(255,79,90);height: 1px;border-style: none;border-color: rgb(255,79,90);">
</div>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/js/Ultimate-Sidebar-Menu-BS5.js"></script>