<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="error-page section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <!-- Error Inner -->
                <div class="error-inner">
                    <h1 style="font-family: Rosario, sans-serif;">404<span>Oop's, page non disponible !</span></h1>
                    
                </div>
                <br>
                <i (click)="goHome()" class="icon ion-android-arrow-back fs-1"
                        style="color: rgb(255,79,90);font-weight: bold; font-size: 50px;"></i>
                <!--/ End Error Inner -->
            </div>
        </div>
    </div>
</section>


<!-- <i class="icon ion-android-arrow-back fs-1" style="color: rgb(255,79,90);font-weight: bold;margin: 5px;"></i> -->