/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Rosario";
    src: url(./assets/fonts/s/rosario/v26/xfuu0WDhWW_fOEoY8l_VPNZfB7jPM68YCVc0fec.woff2);
}

.btn-clickable{
    cursor: pointer;
}